--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers>=4.38.0
streamlit>=1.30.0
langchain-community>=0.0.20
langchain-text-splitters>=0.0.1
chromadb>=0.4.22
sentence-transformers>=2.3.1
pypdf>=4.0.0
